@inherits LayoutComponentBase

<nav>
    <ul>
        <li><NavLink href="/accounts" class="nav-link">Accounts</NavLink></li>
        <li><NavLink href="/contacts" class="nav-link">Contacts</NavLink></li> <!-- New Link for Contacts -->
        <li><NavLink href="/create-account" class="nav-link">Create Account</NavLink></li>
    </ul>
</nav>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
